/* .slideShow {
  opacity: 0;
 transition-duration: 1s ease; 
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
} */

/*  */

.btnSlide {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  transform: translateY(-50%);
  z-index: 1;
  color: #fff;
  background: rgba(0, 0, 0, 0.18);
  display: none !important;
}

.slideshow:hover .btnSlide {
  display: block !important;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
  position: relative;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 300px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}
